<!DOCTYPE html>
<html>
<head>
    <title>TASK-M</title>
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
        }

        .section {
            width: 100%;
        }

        .header {
            color: #f97316;
            font-size: 30px;
            font-weight: 700;
            margin-bottom: 35px;
        }

        .text {
            font-size: medium;
            font-weight: 700;
            margin-bottom: 10px;
        }


        .OTP-div {
            font-size: 50px;
            letter-spacing: 6px;
            font-weight: 600;
            margin: 10px 0px;
        }

        .anchor-button {
            background: #f97316;
            padding: 8px 18px;
            font-size: 15px;
            color: #fff8f8 !important;
            border-radius: 5px;
            width: 82px;
            margin: 20px 0px;
            text-decoration: none !important;
        }

        .footer {
            margin: 35px 0px;
            font-size: 12px;
            color: #575757;

        }
    </style>
</head>

<body>
    <div>
        <div class="header">TASK-M</div>
        <div class="section">
            <div class="text">Verify your account</div>
            <div class="OTP-div"> {{OTP}} </div>
            <a class="anchor-button" href="http://localhost:4200/register">Go to verify</a>
            <div class="footer">2024 TASK-M | Sagar Devendra</div>
        </div>
    </div>
</body>
</html>