<!DOCTYPE html>
<html>

<head>
    <title>TASK-M</title>
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
        }

        .section {
            width: 100%;
        }

        .header {
            color: #f97316;
            font-size: 30px;
            font-weight: 700;
            margin-bottom: 35px;
        }

        .text {
            font-size: medium;
            font-weight: 700;
            margin-bottom: 10px;
        }

        .normal_text {
            font-size: medium;
            font-weight: 500;
            margin-bottom: 10px;
        }

        .footer {
            margin: 35px 0px;
            font-size: 12px;
            color: #575757;

        }
    </style>
</head>

<body>
    <div>
        <div class="header">TASK-M</div>
        <div class="section">
            <div class="text">Welcome to TASK-M <span style="color: #f97316">{{username}}<span></span></div>
            <div class="normal_text">Now, Using TASK-M you can Track, Assign, Manage and Share!</div>
            <div class="footer">2024 TASK-M | Sagar Devendra</div>
        </div>
    </div>
</body>

</html>