<div class="flex items-center flex-col h-screen relative justify-center" >
    <div routerLink="/" class="absolute text-blue-700 top-3 left-4 flex flex-col">
        <span class=" font-black text-3xl ">TASK-M</span>
        <span class="text-sm  font-semibold">Sagar Devendra MEAN Project</span>
    </div>
    <p class="md:text-9xl text-7xl text-red-600">404</p>
    <div class="text-4xl font-bold mb-1 text-center">Oops! We've Lost This Page</div>
    <p class="text-gray-500">The page you are looking for doesn't exist.</p>
    <div class="flex space-x-2">
        <button (click)="goBack()" class="bg-blue-800 mt-6 px-4 text-white  rounded py-2"><i
                class="fa mr-2 fa-arrow-left"></i>Go Back </button>
       
    </div>
</div>